header {
    background: #f5f5f5;
    padding: 0.5rem;
    height: 80px;
    min-height: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más realista */
    z-index: 1000;
    top: 0;
}

.nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    margin-right: 20px;
    padding: 0.5rem 0; /* Corrige el error tipográfico en "o.5rem" */
}

.logo {
    position: relative;
    top: -25px;
    width: 120px;
    height: auto;
    margin-right: auto;
    filter: drop-shadow(2px 5px 480px #000000);
}

.nav a {
    color:  #1e4152 ; /* Color de letra negro */
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 50px;
}

.nav a:hover {
    color: #36aace; /* Cambia el color de la letra al pasar el mouse por encima */
}

.sign-in-link {
    width: 150px;
    color:  #1e4152;
    font-weight: 500;
    border: 2px solid #b6ecf3;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 40px;
    margin-bottom: 50px;
}

.sign-in-link:hover {
    color: #4cada4 ; 
    background-color: #c5d9dd; 
}

.user-name {
    margin-right: 1rem;
    font-size: 1rem;
    color: #3eb0d9;
    font-weight: bold;
}