header {
    background: linear-gradient(to bottom, #61b3e9, #ffffff);
    padding: 0.5rem;
    height: 90px;
    min-height: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más realista */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    margin-right: 20px;
    padding: 0.5rem 0; /* Corrige el error tipográfico en "o.5rem" */
}

.logo {
    width: 100px;
    height: auto;
    margin-right: auto;
    filter: drop-shadow(2px 5px 480px #000000);
}

.nav a {
    color: #000; /* Color de letra negro */
    text-decoration: none;
}

.nav a:hover {
    color: #36aace; /* Cambia el color de la letra al pasar el mouse por encima */
}

.sign-in-link {
    width: 100px;
    color: #000; 
    border: 2px solid #b6ecf3;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 15px;
    box-sizing: border-box;
    margin-left: 40px;
}

.sign-in-link:hover {
    color: #5d6568; 
    background-color: #6b8e94; 
}