/* General styles */
.cataracts-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  background-color: whitesmoke;
  
  
}

.cataracts-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  max-width: 1400px;
  padding: 1rem;
  margin: 0 auto;
  background-color: whitesmoke;
  height: auto;
}

/* Información de texto */
.text-container-section-one {
  flex: 1;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: #f0f8ff;
  border-radius: 8px;
  box-shadow: 0 4px 8px #038ab096;
}

.cataracts-title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(2, 3, 26, 0.944);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cataracts-subtitle {
  font-size: 2rem;
  color: #555;
  margin-bottom: 1rem;
}

.cataracts-description {
  background-color: #e6f2ff;
  border-left: 3px solid #0066cc;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 1.2rem;
  line-height: 1.6;
}
.cataracts-description span{
  color: #0066cc;
}

/* Estilos para el contenedor de details */
.details-transition summary {
  cursor: pointer;
  padding: 12px;
  color: #555;
  background-color: #e6f2ff;
  border-left: 3px solid #0066cc;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.2rem;
}

.details-transition[open] {
  animation: fadeInDetails 2s ease-out;
}

@keyframes fadeInDetails {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Títulos de causas y efectos */
.cataracts-heading {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #555;
  font-weight: 600;
}
/* Lista de causas y efectos */
.cataracts-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  background-color: #f8fbff;
  padding: 1opx;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #333;
  
}
/* Listas internas */
.cataracts-sublist {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
  color: #333;
  line-height: 1.6;
}
/* Para los ítems individuales */
.cataracts-sublist li {
  margin-bottom: 6px;
}

.cataracts-list ul {
  padding-left: 1.5rem;
}

.cataracts-list li {
  margin-bottom: 8px;
}

/* Botón para ventana emergente */
.cataracts-modal-button {
  background-color: #0598ec;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 1.5rem;
  transition:  0.3s ease;
}

.modal-button:hover {
  background-color: #0598ec;
  
}

/* Ventana emergente */
.cataracts-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.20);
  display: flex;
  align-items: center;
  justify-content: center;
  transition:  0.3s ease;
}

.cataracts-modal-content {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.cataracts-modal-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  
}

.vision-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-bottom: 1rem;
}

.close-btn {
  background-color: #0598ec;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #36aace;
}
/* Modelo 3D */
.cataracts-model-container {
  flex: 1;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px #038ab096;
  width: 500px;
  height: 500px;
  position: relative;/* Necesario para posicionar el tooltip dentro del contenedor */
}

/* Mensaje debajo del modelo */
.model-tooltip {
  position: absolute;
  bottom: 10px; /* Ubica el texto en la parte inferior */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta el centrado */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 0.9rem;
  text-align: center;
  animation: fadeIn 1s ease-out forwards;
}

/* Animación para el mensaje */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}