.scroll-container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  position: relative;
}

/* Cada sección ocupa la pantalla completa */
.section1 {

  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #e0f7fa; /* Color de fondo para la sección */
}
.section2,
.section3 {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}


/* Estilo adicional */
.section2 {
  background-color: #f5f9ff;
}

.section3 {
  background-color: #e9f5ff;
}

/* Responsividad opcional */

