.Home{
    width: 400; 
    height: auto;
    margin: 50px;

}
.Home button{
    margin: auto;
    margin-top: 50px;
    width: 50%;
    height: 50px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
.Home button:hover{
    background-color: #000000cb;
    color: #ffffff;

}