.macular-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4rem 2rem;
    background-color: #f0f8ff;
    font-family: sans-serif;
    color: #333;
    height: 700px;
    flex-direction: row;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem;
    overflow: hidden;
  }
  
  .text {
    flex: 1;
    padding: 1rem;
    text-align: left;
    height: 600px;
    position: relative;
    overflow-y: auto;
  }
  
  .text h2 {
    font-size: 3rem;
    color: #333;;
    margin-bottom: 0.5rem;
  }

  .text h3{
    font-size: 2rem;
    color: #555;
    padding: 12px;
    margin-bottom: 15px;
  }

  .text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 1.2rem;
  }

  span {
    color: #0066cc;
    font-weight: bold;
  }

  details {
    max-height: 400px; /* Altura máxima para el contenido de details */
    overflow-y: auto; /* Scroll vertical si el contenido es más grande */
  }

  .macular-summary {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    cursor: pointer;
    padding: 10px;
    background-color: #e6f2ff;
    border-left: 3px solid #0066cc;
    margin-bottom: 15px;
  }
  
  ul {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    background-color: #e6f2ff;
    border-left: 3px solid #0066cc;
  }
  
  ul li {
    background-color: #f0f8ff;
    margin-bottom: 8px; 
    padding: 10px;
    border-left: 3px solid #3399ff;
  }
  
  ul li:nth-child(1) {
    border-left: 3px solid #0066cc;
  }
  
  ul li:nth-child(2) {
    border-left: 3px solid #3399ff;
  }
  
  ul li:nth-child(3) {
    border-left: 3px solid #66ccff;
  }
  
  ul li:nth-child(4) {
    border-left: 3px solid #99ccff;
  }
  
  ul li:nth-child(5) {
    border-left: 3px solid #ccffff;
  }
  
  
  .model-container {
    flex: 1;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
    padding-bottom: 7rem;
  }

  .model-container canvas {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .instruction-message{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .instruction-message.show {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
  }

  .btn-macular{
  width: 80px;
  height: 40px;
  background-color: #52a1c0;
  border: none;
  border-radius: 80px;
  margin: auto;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  }

  .btn-macular:hover {
    background-color: #0056b3; 
  }

  .float-message{
    position: absolute;
    top: 6rem;
    right: 3rem;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    max-width: 250px;
    z-index: 10;
    animation: fadeIn 0.5s ease;
  }
  
  .modal-button {
    align-items: center;
    background-color: #36aace;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
  }
  
  .modal-button:hover {
    background-color: #0056b3;
  }

  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
  }
  
  .modal-content {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    max-width: 90%;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 0 15px #90C0F7;
  }
  
  .modal-content h2 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;
  }
  
  .close-button {
    margin-top: 1.5rem;
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: #36aace;
  }
  
  .info-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #444; /* Borde exterior de toda la tabla */
  }
  
  .info-table th,
  .info-table td {
    border: 1px solid #444; /* Bordes internos claros y definidos */
    padding: 0.75rem;
    text-align: left;
    vertical-align: top;
  }
  
  .info-table th {
    background-color: #90C0F7;
    font-weight: bold;
    color: #222;
  }
  
  .info-table tr:nth-child(even) {
    background-color: #ffffff;
  }
  