footer {
    background: #f5f5f5;
    padding: 0.5rem;
    min-height: 50px;
    height: 4.5rem;
    display: flex; /* Usa flexbox para centrar */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}


#copy{
    color: #000000; 
    font-size: 0.8rem; 
    text-align: center;
    text-shadow: 0 0 5px #00596f81;
}